@import "mixins";
@import "props";

// container
:host {
  display: block;
  background-color: $white-smoke;
}

// use screen wrapper as container
.zk-screen-wrapper {
  @include flex(center, space-evenly);
  height: 77px;
}
