<!-- logo -->
<img
  alt="키즈런챌린지로고"
  src="/assets/images/logos/kids-run-challenge-logo.png">

<!-- description -->
<div class="zk-top-description">
  <b>균형잡힌 지/덕/체 활동</b>과 몰입할 수 있는 스토리로 구성,<br/>
  <b>KIT로 제공되는 여러 교구와 스토리</b>를 이용해 성장과 재미를 동시에 잡을 수 있습니다.<br/>
  언제 어디서나, 온라인과 오프라인도 모두!<br/>
  <b>ZOOM을 활용한 온라인 콘텐츠</b>로 선생님과 실시간 플레이까지 즐길 수 있는 프로그램입니다.<br/>
  온 가족이 함께하거나, 친구와 함께, 또는 혼자서도 플레이할 수 있도록 개발된<br/>
  <b>입체적 보드게임st</b> 키즈런 입니다.
</div>

<!-- inline image viewer -->
<app-inline-image-viewer [images]="thumbnails"></app-inline-image-viewer>
