@import "mixins";
@import "props";

// container
:host {
  @include flex(center, null, column);
}

// top description
.zk-top-description {
  @include nanumBarunGothic;
  margin-top: 45px;
  font-size: 28px;
  text-align: center;
  line-height: 35px;
  letter-spacing: -0.03em;
}

// inline image viewer margin
app-inline-image-viewer {
  margin-top: 45px;
}
