@import "mixins";
@import "props";

// container
:host {
  @include flex(center, center);
  @include rect(451px, 102px);
  cursor: pointer;
  transition: background-color .15s;
}

// hover effect
:host {
  &.zk-active {
    @include attribute-styles('zk-background-color', 'midnight-express') {
      background-color: $midnight-express;
    }

    @include attribute-styles('zk-background-color', 'coffee') {
      background-color: $coffee;
    }

    @include attribute-styles('zk-background-color', 'midnight-blue') {
      background-color: $midnight-blue;
    }
  }
}

// hover effect for children
:host {
  &:not(.zk-active) {
    .zk-label {
      display: block;
    }

    .zk-hover-image {
      display: none;
    }
  }

  &.zk-active {
    .zk-label {
      display: none;
    }

    .zk-hover-image {
      display: block;
    }
  }
}

// label
.zk-label {
  @include nanumSquare;
  font-weight: 700;
  font-size: 30px;
  color: $charcoal;
}
