@import "mixins";
@import "props";

// container
:host {
  @include flex(center, center);
}

// tab button size
.zk-tab-button {
  @include rect(355px, 70px);
  @include nanumSquare;
  font-size: 25px;
  font-weight: 700;
}

// tab button space
.zk-tab-button + .zk-tab-button {
  margin-left: 35px;
}
