@font-face {
    font-family: 'NanumSquare';
    src: url('./assets/fonts/NanumSquareOTFB00.eot');
    src: url('./assets/fonts/NanumSquareOTFB00.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/NanumSquareOTFB00.woff2') format('woff2'),
        url('./assets/fonts/NanumSquareOTFB00.woff') format('woff'),
        url('./assets/fonts/NanumSquareOTFB00.ttf') format('truetype'),
        url('./assets/fonts/NanumSquareOTFB00.svg#NanumSquareOTFB00') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('./assets/fonts/NanumSquareOTFEB00.eot');
    src: url('./assets/fonts/NanumSquareOTFEB00.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/NanumSquareOTFEB00.woff2') format('woff2'),
        url('./assets/fonts/NanumSquareOTFEB00.woff') format('woff'),
        url('./assets/fonts/NanumSquareOTFEB00.ttf') format('truetype'),
        url('./assets/fonts/NanumSquareOTFEB00.svg#NanumSquareOTFEB00') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('./assets/fonts/NanumSquareOTFL00.eot');
    src: url('./assets/fonts/NanumSquareOTFL00.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/NanumSquareOTFL00.woff2') format('woff2'),
        url('./assets/fonts/NanumSquareOTFL00.woff') format('woff'),
        url('./assets/fonts/NanumSquareOTFL00.ttf') format('truetype'),
        url('./assets/fonts/NanumSquareOTFL00.svg#NanumSquareOTFL00') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('./assets/fonts/NanumBarunGothicOTFBoldA.eot');
    src: url('./assets/fonts/NanumBarunGothicOTFBoldA.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/NanumBarunGothicOTFBoldA.woff2') format('woff2'),
        url('./assets/fonts/NanumBarunGothicOTFBoldA.woff') format('woff'),
        url('./assets/fonts/NanumBarunGothicOTFBoldA.ttf') format('truetype'),
        url('./assets/fonts/NanumBarunGothicOTFBoldA.svg#NanumBarunGothicOTFBoldA') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('./assets/fonts/NanumBarunGothicOTFA.eot');
    src: url('./assets/fonts/NanumBarunGothicOTFA.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/NanumBarunGothicOTFA.woff2') format('woff2'),
        url('./assets/fonts/NanumBarunGothicOTFA.woff') format('woff'),
        url('./assets/fonts/NanumBarunGothicOTFA.ttf') format('truetype'),
        url('./assets/fonts/NanumBarunGothicOTFA.svg#NanumBarunGothicOTFA') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('./assets/fonts/NanumBarunGothicLight.eot');
  src: url('./assets/fonts/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/NanumBarunGothicLight.woff2') format('woff2'),
  url('./assets/fonts/NanumBarunGothicLight.woff') format('woff'),
  url('./assets/fonts/NanumBarunGothicLight.ttf') format('truetype'),
  url('./assets/fonts/NanumBarunGothicLight.svg#NanumBarunGothicLight') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

