@import "mixins";
@import "props";

// container
:host {
  @include padding(16px 90px 17px 89px);
  @include flex(center, center);
  border-radius: 34px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  transition: background-color .15s;
  color: $charcoal;
}

// container hover
:host {
  &:hover {
    text-shadow: 0 3px 6px rgba($black, .16);
    color: $white;
    background-color: $light-grey;
  }
}
